node_modules/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sock
*.db

npm-debug.log

.idea/
.DS_Store
.env
.vscode

node_modules

src/server/public/build/
dist/server
dist/shared
dist/run
dist/public/build
src/server/configs/env/dev.ts
