lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sock
*.db
*.DS_Store

npm-debug.log

.idea/
.env
.vscode

node_modules
.swc

nginx/nginx-api.conf
nginx/nginx-preview.conf

dist/server
dist/shared
dist/ui
dist/public/build

src/server/configs/env/dev.ts

test-*-app/farm-config.js*
