.buildLogs {
    overflow: auto;
    padding: var(--g-spacing-5);
}

.instanceLink {
    color: var(--g-color-text-link);
    text-decoration: none;

    &:hover {
        color: var(--g-color-text-link-hover);
    }
}

.command {
    white-space: pre-line;
}

.output {
    margin: 0;
}

.scrollToUpButton {
    position: fixed;
    bottom: 60px;
    right: var(--g-spacing-4);
    color: var(--g-color-text-misc);
}
